@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  background: rgba(255, 255, 255, 1);

  color: rgba(21, 19, 19, 1);
}

body {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  display: block;
  height: auto;
}

.list {
  list-style: none;
}

button,
a {
  cursor: pointer;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button:hover {
  scale: 120%;
}

.header {
  position: fixed;
  width: 100%;
  z-index: 5;
  -webkit-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
  background-color: transparent;
}

.header.is-open .header__background {
  left: 0;
}
.header__button-wrapper {
  margin-left: auto;
}
.header__icon {
  display: none;
}

.header__icon-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: transparent;
  border: none;
}

.header__icon--menu {
  display: block;
}

.header__icon-button.is-open .header__icon--menu {
  display: none;
}

.header__icon-button.is-open .header__icon--close {
  display: block;
}

.header {
  height: 78px;
  display: flex;
}

.header {
  position: fixed;
  width: 100%;
  z-index: 5;
  background: transparent;
  background: rgba(21, 27, 34, 0.7);
}
.header__background {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 100%;

  z-index: -1;
  -webkit-transition: left 0.3s ease;
  transition: left 0.3s ease;
  background: transparent;
  background: rgba(21, 27, 34, 0.7);
}
.header.is-open .header__background {
  left: 0;
}
.header__button-wrapper {
  margin-right: auto;
  display: flex;
  align-items: center;
  padding: 16px;
  justify-content: space-between;
}
.header__icon {
  display: none;
}
.header__icon-button {
  display: flex;
  background-color: transparent;
  border: none;
}

.header__icon--menu {
  display: block;
}

.header__icon-button.is-open .header__icon--menu {
  display: none;
}

.header__icon-button.is-open .header__icon--close {
  display: block;
}

.navigation {
  display: -ms-flexbox;
  flex-direction: column;
  align-items: end;

  flex: 1;

  position: relative;
  background-color: transparent;
}

.navigation__list {
  background: rgba(21, 27, 34, 0.7);
  border-top: 2px solid rgba(255, 255, 255, 1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
  padding: 0 30px 0 50%;

  top: 150px;
  position: absolute;
  top: 100%;
  right: -100%;
  width: 100%;
  height: 456px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  z-index: 999;
}
.navigation__list.is-open {
  right: 0;
}
.navigation__link {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: center;
  position: relative;
  text-decoration: none;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  width: 173px;
  height: 50px;

  border-radius: 10px;

  color: rgba(255, 255, 255, 1);
}

.navigation__link:hover,
.navigation__link:focus {
  border: 1px solid rgba(255, 255, 255, 1);
}

.header.is-open {
  background-color: transparent;
}
.navigation-img {
  display: none;
}
@media screen and (min-width: 1200px) {
  .navigation-img {
    display: flex;
  }
  .header {
    height: 72px;

    padding: 16px 80px;
    border-bottom: 2px solid rgba(255, 255, 255, 0.5);
  }
  .navigation__item-desk {
    display: none;
  }
  .header__icon-button {
    display: none;
  }
  .header__button-wrapper {
    width: auto;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    padding: 0;
  }
  .navigation {
    display: flex;

    flex-direction: row;

    flex: 1;

    align-items: center;
    justify-content: center;
  }

  .navigation__list {
    border: none;
    flex-direction: row;
    justify-content: center;
    position: static;
    width: auto;
    padding-block: 0;
    flex: 1;
    gap: 24px;
    height: 0px;
    display: flex;

    align-items: center;
    padding: 0;
  }
  .navigation__link {
    padding: 8px;
    display: flex;
    justify-content: center;
    position: relative;
    text-decoration: none;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;

    color: #fff;
  }
  .navigation__link-policy-terms {
    color: #000;
  }
  .navigation__list-polict {
    justify-content: center;
  }
  .navigation__link {
    width: auto;

    height: 40px;
  }
  .navigation__link-polict {
    display: none;
  }
  .header__icon-home-img {
    display: none;
  }
}

.home {
  width: 375px;
  height: 800px;
  margin: auto;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 0 16px;

  background-image: url("/img/home/BG.png");
}
.home__wrapper {
  position: relative;
  z-index: 3;

  display: flex;
  flex-direction: column;
  align-items: start;

  padding: 134px 0 0;
}
.home-title {
  font-family: Nunito;
  font-size: 36px;
  font-weight: 700;
  line-height: 49.1px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  text-transform: uppercase;
  color: #fff;
}
.home-text-one {
  font-family: Nunito;
  font-size: 28px;
  font-weight: 700;
  line-height: 38.19px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #fff;
  padding: 0 0 16px;
}
.home-text {
  font-family: Nunito;
  font-size: 24px;
  font-weight: 600;
  line-height: 28.8px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  padding-bottom: 260px;
  color: #fff;
}

.home-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 343px;
  height: 60px;
  padding: 10px;
  background: rgba(120, 4, 6, 1);
  border-radius: 8px;
  border: none;
  font-family: Nunito;
  font-size: 16px;
  font-weight: 600;
  line-height: 21.82px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #fff;
}
.home-button-two {
  background: transparent;
  border: 1px solid rgba(255, 255, 255, 1);
  color: #ffffff;
  margin-top: 16px;
}
@media screen and (min-width: 1200px) {
  .home {
    width: 1440px;
    height: 832px;

    padding: 0;

    background-image: url("/img/home/BG\ \(1\).png");
  }
  .home__wrapper {
    position: relative;
    z-index: 3;

    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 131px 0 0;
  }
  .home-title {
    font-family: Nunito;
    font-size: 64px;
    font-weight: 700;
    line-height: 87.3px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }
  .home-text-one {
    font-family: Nunito;
    font-size: 54px;
    font-weight: 700;
    line-height: 73.66px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;

    padding: 0 0 8px;
  }
  .home-text {
    font-family: Nunito;
    font-size: 24px;
    font-weight: 600;
    line-height: 32.74px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;

    padding-bottom: 32px;
    color: #fff;
  }
  .home-button-container {
    display: flex;
    flex-direction: row;
    gap: 14px;
  }
  .home-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 220px;
    height: 48px;
    padding: 10px;
    background: rgba(120, 4, 6, 1);
    border-radius: 8px;
    border: none;
    font-family: Nunito;
    font-size: 16px;
    font-weight: 600;
    line-height: 21.82px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;

    color: #fff;
  }
  .home-button-two {
    margin-top: 0px;
  }
  .home-button-two {
    background: transparent;
    border: 1px solid rgba(255, 255, 255, 1);
    color: #ffffff;
    margin-top: 0px;
  }
}

.about {
  width: 375px;
  height: 2178px;

  padding: 80px 16px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: rgba(255, 255, 255, 1);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 0 16px;

  background-image: url("/img/about/BG_2.png");
}

.about-title {
  font-family: Nunito;
  font-size: 28px;
  font-weight: 700;
  line-height: 33.6px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: rgba(21, 19, 19, 1);
  text-transform: uppercase;
}
.about-title-text {
  font-family: Nunito;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: rgba(21, 19, 19, 1);
  padding: 16px 0 20px;
}
.about-list {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 16px;
  margin: auto;
}

.about-item {
  width: 343px;
  height: 622px;
  display: flex;
  flex-direction: column;
}

.about-text {
  font-family: Nunito;
  font-size: 18px;
  font-weight: 600;
  line-height: 21.6px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: rgba(120, 4, 6, 1);
  padding: 16px 0 12px;
}
.about-text-two {
  font-family: Nunito;
  font-size: 16px;
  font-weight: 400;
  line-height: 19.2px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: rgba(21, 19, 19, 1);
}
@media screen and (min-width: 1200px) {
  .about {
    padding: 80px;
    width: 1440px;
    height: 1116px;

    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .about-title {
    font-family: Nunito;
    font-size: 38px;
    font-weight: 700;
    line-height: 45.6px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }
  .about-title-text {
    font-family: Nunito;
    font-size: 30px;
    font-weight: 500;
    line-height: 36px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    width: 625px;
    margin: auto;
    padding: 32px 0 64px;
  }
  .about-list {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 32px;
    margin: auto;
  }

  .about-item {
    width: 405px;
    height: 738px;
    display: flex;
    flex-direction: column;
  }

  .about-text {
    font-family: Nunito;
    font-size: 28px;
    font-weight: 600;
    line-height: 33.6px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;

    padding: 24px 0 16px;
  }
  .about-text-two {
    font-family: Nunito;
    font-size: 24px;
    font-weight: 400;
    line-height: 28.8px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }
}
.services {
  padding: 64px 16px;
  width: 375px;
  margin: auto;
  background: rgba(255, 255, 255, 1);
}

.services-list {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.services-item {
  width: 343px;
  height: 230px;
  display: flex;
  gap: 16px;
  align-items: center;
}
.services-img {
}
.services-text-bold {
  font-family: Nunito;
  font-size: 20px;
  font-weight: 800;
  line-height: 27.28px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  text-transform: uppercase;
}
.services-text {
  font-family: Nunito;
  font-size: 18px;
  font-weight: 400;
  line-height: 24.55px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  padding-top: 16px;
}
.services-item-two {
  width: 36.75px;
  height: 20.21px;

  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/img/services/Vector.png");
}
@media screen and (min-width: 1200px) {
  .services {
    padding: 80px;
    width: 1440px;
    margin: auto;
  }

  .services-list {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .services-item {
    width: 230px;
    height: 256px;
    display: flex;
    flex-direction: column;
    gap: 55px;
    align-items: center;
  }
  .services-img {
  }
  .services-text-bold {
    font-family: Nunito;
    font-size: 20px;
    font-weight: 800;
    line-height: 27.28px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    text-transform: uppercase;
  }
  .services-text {
    font-family: Nunito;
    font-size: 18px;
    font-weight: 400;
    line-height: 24.55px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    padding-top: 16px;
  }
  .services-item-two {
    width: 50px;
    height: 100px;

    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: url("/img/services/weui_arrow-outlined.png");
  }
}

.gallery {
  margin: auto;
  width: 375px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/img/gallery/BG_3.png");
}
.gallery-container {
  padding: 64px 0px;
}

.gallery-list {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 32px;
  padding: 40px 16px 32px;
  margin: auto;
}
.gallery-item {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

.gallery-item-img {
}
.gallery-text-bold {
  font-family: Nunito;
  font-size: 18px;
  font-weight: 600;
  line-height: 21.6px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;

  color: rgba(21, 19, 19, 1);
}

.gallery-text {
  font-family: Nunito;
  font-size: 16px;
  font-weight: 400;
  line-height: 21.82px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  padding-top: 10px;
  width: 260px;

  color: rgba(21, 19, 19, 1);
}
.gallery-img {
  width: 375px;
  height: 384px;

  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/img/gallery/car\ \(1\).png");
}
@media screen and (min-width: 1200px) {
  .gallery {
    margin: auto;
    width: 1440px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: url("/img/gallery/BG_3.png");
  }
  .gallery-container {
    padding: 84px 181px 101px 0;
  }
  .gallery-container-two {
    display: flex;
    flex-direction: row-reverse;
    padding-top: 52px;
    gap: 32px;
  }
  .gallery-list {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 42px;
    padding: 0;
    margin: auto;
  }
  .gallery-item {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 32px;
  }

  .gallery-item-img {
  }
  .gallery-text-bold {
    font-family: Nunito;
    font-size: 20px;
    font-weight: 600;
    line-height: 27.28px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }

  .gallery-text {
    font-family: Nunito;
    font-size: 18px;
    font-weight: 400;
    line-height: 24.55px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;

    padding-top: 10px;
    width: 417px;

    color: rgba(21, 19, 19, 1);
  }
  .gallery-img {
    width: 711.33px;
    height: 729px;

    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: url("/img/gallery/car\ \(1\).png");
  }
}

.reviews {
  padding: 64px 16px;
  margin: auto;
  width: 375px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.reviews-list {
  display: flex;
  flex-direction: column;
  padding-top: 56px;
  gap: 24px;
  margin: auto;
}
.reviews-item {
  width: 344px;
  height: 316px;
  padding: 16px;
  background: rgba(255, 118, 120, 1);

  border-top: 1px solid rgba(120, 4, 6, 1);
  border-radius: 20px;
}

.reviews-text-bold {
  font-family: Nunito;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: rgba(255, 255, 255, 1);
  text-transform: uppercase;
  width: 311px;
  height: 64px;
  padding: 20px 40px 20px 40px;

  border-radius: 12px;

  background: rgba(120, 4, 6, 1);
}
.reviews-text {
  display: flex;
  justify-items: center;
  align-items: center;
  font-family: Nunito;
  font-size: 18px;
  font-weight: 600;
  line-height: 21.6px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: rgba(21, 19, 19, 1);
  width: 311px;
  height: 220px;
  padding: 20px 40px 20px 40px;

  border-radius: 12px;

  background: rgba(255, 255, 255, 1);
  box-shadow: 6px 6px 6px 0px rgba(0, 0, 0, 0.3);
}
.reviews-button {
  font-family: Nunito;
  font-size: 16px;
  font-weight: 600;
  line-height: 21.82px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: rgba(255, 255, 255, 1);
  width: 343px;
  height: 60px;
  padding: 10px;
  border-radius: 8px;
  background: rgba(120, 4, 6, 1);
  margin-top: 56px;
}
@media screen and (min-width: 1200px) {
  .reviews {
    padding: 80px;
    margin: auto;
    width: 1440px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .reviews-list {
    display: flex;
    flex-direction: column;
    padding-top: 0;
    gap: 0px;
    margin: auto;
  }
  .reviews-item {
    display: flex;
    gap: 105px;
    width: 1280px;
    height: 124px;
    padding: 30px 32px;
    background: rgba(255, 118, 120, 1);
    border-width: 1px, 1px, 0px, 1px;
    border-style: solid;
    border-color: rgba(120, 4, 6, 1);
    border-radius: 20px;
  }

  .reviews-text-bold {
    font-family: Nunito;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: rgba(255, 255, 255, 1);
    text-transform: uppercase;
    width: 300px;
    height: 64px;
    padding: 20px 40px 20px 40px;
    border-radius: 12px;
    background: rgba(120, 4, 6, 1);
  }
  .reviews-text {
    display: block;

    font-family: Nunito;
    font-size: 18px;
    font-weight: 600;
    line-height: 21.6px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: rgba(21, 19, 19, 1);
    width: 734px;
    height: 62px;
    padding: 20px 40px 20px 40px;
    border-radius: 12px;
    background: rgba(255, 255, 255, 1);
    box-shadow: 6px 6px 6px 0px rgba(0, 0, 0, 0.3);
  }
  .reviews-button {
    font-family: Nunito;
    font-size: 16px;
    font-weight: 600;
    line-height: 21.82px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: rgba(255, 255, 255, 1);
    width: 220px;
    height: 48px;
    padding: 10px;
    border-radius: 8px;
    background: rgba(120, 4, 6, 1);
    margin-top: 80px;
  }
}
.customer {
  margin: 64px auto;
  width: 375px;
  height: 1018px;
  padding: 40px 16px 40px 16px;
  border-radius: 16px;
  background: linear-gradient(
    98.45deg,
    #ffc8c9 -21.67%,
    #fb8688 6.35%,
    #ef6769 37.7%,
    #780406 116.08%
  );
}
.customer-title {
  color: rgba(255, 255, 255, 1);

  text-align: left;
}
.customer-list {
  padding-top: 48px;
  display: flex;
  flex-direction: column;
  gap: 45px;
}
.customer-item {
  width: 343px;
  height: 220px;
  padding: 24px;
  border-radius: 16px;
  background: rgba(255, 255, 255, 1);
}
.customer-text-bold {
  font-family: Nunito;
  font-size: 18px;
  font-weight: 600;
  line-height: 24.55px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: rgba(21, 19, 19, 1);
  padding: 16px 0 16px;
}
.customer-text {
  font-family: Nunito;
  font-size: 16px;
  font-weight: 300;
  line-height: 21.82px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: rgba(21, 19, 19, 1);
}
@media screen and (min-width: 1200px) {
  .customer {
    margin: 84px auto;
    width: 1279px;
    height: 500px;
    padding: 40px;
    border-radius: 16px;
    background: linear-gradient(
      98.45deg,
      #ffc8c9 -21.67%,
      #fb8688 6.35%,
      #ef6769 37.7%,
      #780406 116.08%
    );
  }
  .customer-title {
    color: rgba(255, 255, 255, 1);

    text-align: left;
    margin: 0;
    width: auto;
  }
  .customer-list {
    padding-top: 0px;
    display: flex;
    flex-direction: row;
    gap: 32px;
  }
  .customer-item {
    width: 379px;
    height: 220px;
    padding: 24px;
    border-radius: 16px;
    background: rgba(255, 255, 255, 1);
  }
  .customer-text-bold {
    font-family: Nunito;
    font-size: 14px;
    font-weight: 600;
    line-height: 19.1px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;

    padding: 16px 0 16px;
  }
  .customer-text {
    font-family: Nunito;
    font-size: 14px;
    font-weight: 300;
    line-height: 19.1px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;

    color: rgba(21, 19, 19, 1);
  }
}
.contacts {
  padding: 64px 16px 80px;
  margin: auto;
  width: 375px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/img/contacts/BG_4.png");
}
.contacts-title {
  color: rgba(255, 255, 255, 1);
}

.contacts-img {
  width: 343px;
  height: 180px;

  margin: 80px 0 32px;
}
.contacts-list {
  margin: 0px auto 0;
  display: flex;
  flex-direction: column;

  width: 342px;
  padding: 22px;
  gap: 10px;
  border-radius: 11px;
  background: rgba(255, 255, 255, 0.8);
}
.contacts-item {
  display: flex;
  align-items: center;
  justify-content: center;
}

.contacts-text {
  font-family: Nunito;
  font-size: 18px;
  font-weight: 500;
  line-height: 24.55px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;

  color: rgba(80, 89, 102, 1);
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 32px 0;
  margin: auto;
  gap: 32px;
}
.form-text-bold {
  color: rgba(255, 255, 255, 1);
  font-family: Nunito;
  font-size: 20px;
  font-weight: 600;
  line-height: 27.28px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

.form-input {
  width: 343px;
  color: rgba(255, 255, 255, 1);

  padding: 10px;
  background-color: transparent;
  border: none;
  font-family: Nunito;
  font-size: 14px;
  font-weight: 600;
  line-height: 19.1px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  border-bottom: 1px solid rgba(255, 255, 255, 1);
}
.form-text {
  font-family: Nunito;
  font-size: 14px;
  font-weight: 600;
  line-height: 19.1px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: rgba(255, 255, 255, 1);
}
.form-input-two {
  border: 1px solid rgba(255, 255, 255, 1);
  border-radius: 10px;
  margin-top: 24px;
}
.form-button {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 500;
  line-height: 16px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: rgba(0, 0, 0, 1);
  width: 343px;
  height: 60px;

  padding: 18px 30px 18px 30px;

  border-radius: 8px;

  background: rgba(255, 255, 255, 1);
}

@media screen and (min-width: 1200px) {
  .contacts {
    padding: 64px 80px 112px 189px;
    margin: auto;
    width: 1440px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    background-image: url("/img/contacts/BG_4\ \(1\).png");
  }
  .contacts-form {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 141px;
  }
  .contacts-img {
    margin: 125px 0 44px;
    width: 624px;
    height: 325.18px;
  }
  .contacts-list {
    margin: 0px auto 0;
    display: flex;
    flex-direction: column;

    width: 624px;
    padding: 24px;
    gap: 10px;
    border-radius: 11px;
    background: rgba(255, 255, 255, 0.8);
  }
  .contacts-item {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .contacts-text {
    font-family: Nunito;
    font-size: 18px;
    font-weight: 500;
    line-height: 24.55px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;

    color: rgba(80, 89, 102, 1);
  }

  .form {
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 32px 0;
    margin: auto;
    gap: 32px;
  }
  .form-text-bold {
    color: rgba(255, 255, 255, 1);
    font-family: Nunito;
    font-size: 20px;
    font-weight: 600;
    line-height: 27.28px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }

  .form-input {
    width: 406px;
    color: rgba(255, 255, 255, 1);

    padding: 10px;
    background-color: transparent;
    border: none;
    font-family: Nunito;
    font-size: 14px;
    font-weight: 600;
    line-height: 19.1px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    border-bottom: 1px solid rgba(255, 255, 255, 1);
  }
  .form-text {
    font-family: Nunito;
    font-size: 14px;
    font-weight: 600;
    line-height: 19.1px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: rgba(255, 255, 255, 1);
  }
  .form-input-two {
    border: 1px solid rgba(255, 255, 255, 1);
    border-radius: 10px;
    margin-top: 24px;
  }
  .form-button {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 500;
    line-height: 16px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: rgba(0, 0, 0, 1);
    width: 406px;
    height: 60px;

    padding: 18px 30px 18px 30px;

    border-radius: 8px;

    background: rgba(255, 255, 255, 1);
  }
}

.footer {
  background: rgba(4, 4, 4, 1);
  color: rgba(255, 255, 255, 1);
  padding: 19px 44px;
}

.footer-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 12px;
  align-items: center;
  text-align: center;
  gap: 17px;
}
.footer-text {
  font-family: Nunito;
  font-size: 16px;
  font-weight: 600;
  line-height: 28px;
  text-align: center;
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: rgba(255, 255, 255, 1);
}

.footer-copyright {
  font-family: Nunito;
  font-size: 14px;
  font-weight: 600;
  line-height: 28px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;

  padding-top: 49px;
}

@media screen and (min-width: 1200px) {
  .footer {
    padding: 32px 300px;
  }
  .footer-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 32px;
  }
  .footer-text {
    font-family: Nunito;
    font-size: 16px;
    font-weight: 600;
    line-height: 28px;
    text-align: left;
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }

  .footer-copyright {
    font-family: Nunito;
    font-size: 16px;
    font-weight: 600;
    line-height: 28px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    padding-top: 23px;
  }
}
.policy-terms-container {
  flex-direction: column;
  align-items: start;
  padding: 133px 16px 83px;
  background: #e6e6e6;
  color: rgba(0, 0, 0, 1);
}

.policy-terms-text {
  font-family: Nunito;
  font-size: 14px;
  font-weight: 400;
  line-height: 19.1px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

.policy-terms-text-one {
  font-family: Nunito;
  font-size: 14px;
  font-weight: 400;
  line-height: 19.1px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

.terms-lists {
  list-style-type: disc;

  padding-left: 25px;

  font-family: Nunito;
  font-size: 14px;
  font-weight: 400;
  line-height: 19.1px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;

  display: flex;
  flex-direction: column;
}
.email-link {
  color: inherit;
  text-decoration: none;
  color: rgba(0, 0, 0, 1);
}

@media screen and (min-width: 1200px) {
  .policy-terms-container {
    padding: 152px 82px 109px;
    width: 1440px;
    margin: auto;
  }
  .policy-terms-text {
    font-family: Nunito;
    font-size: 16px;
    font-weight: 400;
    line-height: 21.82px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }

  .policy-terms-text-one {
    font-family: Nunito;
    font-size: 16px;
    font-weight: 400;
    line-height: 21.82px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }

  .terms-lists {
    list-style-type: disc;

    padding-left: 25px;

    font-family: Nunito;
    font-size: 16px;
    font-weight: 400;
    line-height: 21.82px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;

    display: flex;
    flex-direction: column;
  }
}
